<br/><br/>
{dt alias="translateme" type="normal" lang="en"}
<br/>
{dt alias="some_underline_value" type="ini" lang="en"}
<br/>
{dt alias="translateme" type="noramal" lang="hu"}
<br/>
{dt alias="translateme" type="req" lang="en"}
<br/>
{dt alias="translateme"}
<br/><br/>

{session method="write"}
{session method="add" key="asd" content="asd"}
{session method="edit" key="asd" content="asda"}
{session method="read" callback="return"}

{message method="set" type="info" appear="ajax" content="My message 0 "}
{message method="set" type="info" appear="ajax" content="My message 1 "}
{message method="set" type="info" appear="text" content="My message text "}
{message method="set" type="success" appear="ajax" content="Nice work"}

{message method="get" appear="ajax"}
{message method="get" appear="text"}


{if {url method="get" type="module" url="dashboard"}}
asd
{/if}
