.jspTrack {
  background:url(images/scroll-bg.png) repeat-y;
  position:relative;
}
.jspDrag {
  background:url(images/scroll-drag.png) no-repeat;
  position:relative;
  top:0;
  left:0;
  cursor:pointer;
}
.jspDrag:hover { background:url(images/scroll-drag.png) no-repeat; }
.jspArrowUp { background:url(images/scroll-top.png) no-repeat; }
.jspArrowDown { background:url(images/scroll-bottom.png) no-repeat; }
.jspContainer {
  overflow:hidden;
  position:relative;
}
.jspPane { position:absolute; }
.jspVerticalBar {
  position:absolute;
  top:0;
  right:0;
  width:13px;
  margin-left:-3px;
  height:100%;
  background:transparent;
}
.jspHorizontalBar {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:12px;
  background:transparent;
}
.jspVerticalBar *, .jspHorizontalBar * {
  margin:0;
  padding:0;
}
.jspCap { display:none; }
.jspHorizontalBar .jspCap { float:left; }
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
  float:left;
  height:100%;
}
.jspArrow {
  text-indent:-20000px;
  display:block;
  cursor:pointer;
}
.jspArrow.jspDisabled { cursor:default; }
.jspVerticalBar .jspArrow { height:12px; }
.jspHorizontalBar .jspArrow {
  width:12px;
  float:left;
  height:100%;
}
.jspVerticalBar .jspArrow:focus { outline:none; }
.jspCorner {
  background:#eeeef4;
  float:left;
  height:100%;
}
* html .jspCorner { margin:0 -3px 0 0; }