body{
	background: @BackgroundColor;
	font-family: @FontFamily;
	font-size: @FontSize;
	color: @Color;
	text-align: center;
	margin: 0;
	padding: 0;
	position: relative;
}
.logincontainer{  width: 250px; height: 300px; padding: 50px; margin: 100px auto auto auto; background: #d6d6d6; }