.site_error{
	background: white;
	text-align: center; 
	padding: 20px; 
	margin: 10px 0px 0px 0px;
	
	h1.error_title{
		
	}
	
	.error_table{
		width:500px;
		border: 1px solid red;
		margin: auto;
	}
	
	.error_param{
		font-weight: bold;
	}
	
	.error_param_value{
		padding-left: 20px;
	}
}