<a href="/">Home</a>
<a href="/home">dashboard</a>
<a href="/settings">settings</a>
<a href="/{$lang}/cat/subcat/item/1/title">cat subcat item</a>
<a href="/asd">asd</a>
<a href="/doesnt">doesnt</a>
<a href="/doesnt">doesnt</a>

<br/>

<a href="/hu/{$module}/{$category}/{$subcategory}/{$id}/{$urltitle}"> Magyar valtozat </a>